*{
    font-family: 'Courier New', Courier, monospace;
}

ul {
    padding: auto 100px;
    background: peachpuff;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
  
    text-align: center;
    background: #CCAE94;
    flex: auto;
    padding: 5px;
}

h1,
h2,
h3 {
    background: #CCAE94;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}