body{
    font-family: Verdana, sans-serif;
    background-color: peachpuff;
    margin: 0px;
}

h1,
h2,
h3,
h4{
    font-family: Georgia, serif;
}

a {
    color: #2A251E;
    text-decoration: none;
}

a:hover {
    text-shadow: #2A251E 2px 0 5px;
    color: white;
}

li a:hover {
    color: black;
    text-shadow: none;
    text-decoration: underline;
}

ul {
    background: #cd9e80;
}

#menu {
    display: flex; 
}

#menu div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    background: #cd9e80;
    flex: 1 auto;
    font-family: 'Courier New', Courier, monospace;
}

.align-menu {
    align-items: flex-end;
}

.home {
    align-items: center;
    font-size: larger;
}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
}

.flex-container *{
    flex: 1;
}