/*
COLOR PALETTE
#fefae0 - beige
peachpuff;
#cd9e80 - tan
#2a251e - dark brown
#24170b - darker brown
*/


/*Global Styles
-------------------------------------------*/
body {
  font-family: Verdana, sans-serif;
  background-color: #fefae0;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, serif;
}

a {
  color: #2a251e;
}

a:hover {
  text-decoration: none;
}

/*Navigation Bar
-------------------------------------------*/
#nav-bar {
  display: flex;
}

#nav-bar div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  background: #cd9e80;
  flex: 1 auto;
  font-family: "Courier New", Courier, monospace;
}

#nav-bar a {
  text-decoration: none;
}

#nav-bar a:hover {
  text-shadow: #ccd5ae 2px 0 5px;
  color: white;
}

.align-nav {
  align-items: flex-end;
}

.logo {
  align-items: center;
  font-size: larger;
}

/*Index
-------------------------------------------*/
.content-flex > h1 {
  font-size: 70px;
}

.flex-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.content-flex {
  flex: 2 1 0;
  margin-top: 0px;
}

.image-flex {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-self: center;
  padding: 30px 10px;
}

.image-flex img {
  width: 60%;
  border-radius: 50% 50% 5% 5%;
  border: 4px solid #24170b;
}

.image-flex img:hover {
  transform: scale(1.1);
}

.skills {
  flex-wrap: wrap;
}

.skillType {
  width: 200px;
  margin: 30px 70px 20px 0px;
  padding-left: 10px;
  background-color: #cd9e80;
  border-radius: 25px;
}

.skillType h3 {
  margin-left: 15px;
  margin-bottom: 0;
  text-decoration: underline;
}

.skillType:hover {
  transform: translateY(-10px);
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
}

/*Self-Learning
-------------------------------------------*/
.certifications a {
  text-decoration: none;
}

.certifications a:hover {
  color: #24170b;
  text-shadow: none;
  text-decoration: underline;
}

blockquote {
  background-color: #cd9e80;
  padding: 25px;
  border-radius: 12px;
  margin-top: 40px;
}

blockquote span {
  float: right;
}

/*Projects
-------------------------------------------*/
.project-item {
  overflow: hidden;
  display: flex;
}

.project-description {
  padding-left: 40px;
}

.projects img {
  width: 300px;
  border:2px solid #2a251e ;
}

.project-item h3 {
  margin-top: 0;
}

.projects .btn {
  background-color: #343434;
  color: #f7fff7;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;

}

.projects .btn:hover {
  background-color: rgba(52, 52, 52, 0.8);
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/*Connect
-------------------------------------------*/
.contact-list {
  padding: 0;
  list-style-type: none;
}
